body {
  font-family: montserrat;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  background-color: rgb(219, 215, 215);
  position: absolute;
  background-image: url("image/9.jpg"); /* Đặt URL ảnh nền của bạn ở đây */
  background-size: cover;
  background-attachment: fixed; /* Đặt nền cố định */
  background-position: center;
  background-repeat: no-repeat;
}

.left-column {
  flex: 6;
  padding: 30px;
  box-sizing: border-box;
}

.item {
  margin-bottom: 30px;
  background-color: rgb(231, 245, 245);
  border-radius: 15px; /* Bo tròn các cạnh */
  padding: 15px; /* Khoảng cách bên trong */
  overflow: hidden; /* Đảm bảo phần bo tròn không bị tràn ra ngoài */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hiệu ứng di chuột */
.item:hover {
  transform: scale(1.05); /* Phóng to một chút khi hover */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Thêm bóng đổ khi hover */
  background-color: #f0f8ff; /* Đổi màu nền khi hover */
}

/* Hiệu ứng cuộn */
.scroll-animation {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.scroll-animation.visible {
  opacity: 1;
  transform: translateY(0);
}

.image-content {
  display: flex;
  align-items: flex-start;
}

.resize-image {
  width: 500px; /* Đặt chiều rộng cố định */
  height: 300px; /* Đặt chiều cao cố định */
  object-fit: cover; /* Đảm bảo ảnh được cắt vừa khung */
  margin-right: 20px;
  border-radius: 5px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-column {
  flex: 1;
  padding: 2px;
  box-sizing: border-box;
  position: sticky; /* Giữ cố định khi cuộn */
  top: 10px; /* Khoảng cách từ đỉnh màn hình khi cố định */
  align-self: flex-start; /* Căn chỉnh phần tử với phần đầu của cột */
}

#tong-quan {
  font-size: 16px;
}

.right-column a {
  text-decoration: none;
  color: white;
}

.right-column li:hover {
  color: rgb(255, 187, 0);
}

.right-column a:hover {
  color: rgb(255, 187, 0);
  font-size: 18px;
}

.right-column li::marker {
  content: "▷";
  color: white;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image-content {
    flex-direction: column;
  }

  .resize-image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .right-column {
    position: static; /* Đặt lại vị trí của phần tổng quan cho thiết bị nhỏ hơn */
    width: 100%;
  }
}

#nhan-de {
  font-size: 32px;
}

.quan {
  font-size: 26px;
  text-align: center;
  text-shadow: 3px;
}

.noi-dung {
  font-size: 20px;
}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

/* Favicon và phần hình ảnh nền */
.header {
  background-color: #3d3d3d;
  padding: 8px 50px 8px 50px;
  font-family: "montserrat";
  padding: 0;
  margin: 0;
}
.favicon * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Text overlay */
.text-overlay {
  position: absolute; /* Đặt chữ đè lên ảnh */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Căn giữa */
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.5);
}

.button {
  display: inline-block;
  padding: 14px 26px;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6d6d6d;
  transform: translateX(-100%);
  transition: all 1s;
  z-index: -1;
}

.button:hover::before {
  transform: translateX(0);
}
/*phím cuộn nhanh*/
/* Định dạng nút cuộn lên đầu trang */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  left: 20px; /* Chuyển nút sang bên trái */
  display: none; /* Ban đầu ẩn đi */
  background-color: rgba(0, 0, 0, 0.8); /* Màu nền đen trong suốt */
  color: #fff;
  border: none;
  padding: 20px 20px; /* Làm cho nút lớn hơn */
  font-size: 20px; /* Tăng kích thước chữ */
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.9; /* Đặt độ trong suốt */
  transition: opacity 0.3s ease; /* Thêm hiệu ứng chuyển đổi khi hover */
}

#scrollToTopBtn:hover {
  background-color: rgba(68, 68, 68, 0.8); /* Màu nền khi hover */
  opacity: 1; /* Tăng độ rõ khi hover */
}

/* Media Queries cho các thiết bị khác nhau */
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column; /* Chuyển container sang bố cục cột cho thiết bị nhỏ hơn */
    background-image: url("image/9_small.jpg"); /* Thay đổi URL ảnh nền cho thiết bị nhỏ hơn */
    background-size: cover;
  }

  .resize-image {
    width: 100%; /* Điều chỉnh kích thước ảnh */
    height: auto;
  }

  .left-column {
    padding: 20px; /* Điều chỉnh khoảng cách bên trong */
  }

  #scrollToTopBtn {
    font-size: 18px; /* Giảm kích thước chữ nút cuộn lên */
    padding: 15px 15px; /* Giảm kích thước nút cuộn lên */
  }

  .right-column {
    position: static; /* Đặt lại vị trí của phần tổng quan cho thiết bị nhỏ hơn */
    width: 100%;
    padding: 10px; /* Điều chỉnh khoảng cách bên trong */
  }

  .right-column a {
    font-size: 14px; /* Giảm kích thước chữ trong cột phải */
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Chuyển container sang bố cục cột cho thiết bị nhỏ hơn */
    background-image: url("image/9_small.jpg"); /* Thay đổi URL ảnh nền cho thiết bị nhỏ hơn */
    background-size: cover;
  }

  .resize-image {
    width: 100%; /* Điều chỉnh kích thước ảnh */
    height: auto;
  }

  .left-column {
    padding: 15px; /* Điều chỉnh khoảng cách bên trong */
  }

  #scrollToTopBtn {
    font-size: 16px; /* Giảm kích thước chữ nút cuộn lên */
    padding: 10px 10px; /* Giảm kích thước nút cuộn lên */
  }

  .right-column {
    position: static; /* Đặt lại vị trí của phần tổng quan cho thiết bị nhỏ hơn */
    width: 100%;
    padding: 8px; /* Điều chỉnh khoảng cách bên trong */
  }

  .right-column a {
    font-size: 13px; /* Giảm kích thước chữ trong cột phải */
  }
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column; /* Chuyển container sang bố cục cột cho thiết bị nhỏ hơn */
    background-image: url("image/9_small.jpg"); /* Thay đổi URL ảnh nền cho thiết bị nhỏ hơn */
    background-size: cover;
  }

  .resize-image {
    width: 100%; /* Điều chỉnh kích thước ảnh */
    height: auto;
  }

  .left-column {
    padding: 10px; /* Điều chỉnh khoảng cách bên trong */
  }

  #scrollToTopBtn {
    font-size: 14px; /* Giảm kích thước chữ nút cuộn lên */
    padding: 8px 8px; /* Giảm kích thước nút cuộn lên */
  }

  .right-column {
    position: static; /* Đặt lại vị trí của phần tổng quan cho thiết bị nhỏ hơn */
    width: 100%;
    padding: 6px; /* Điều chỉnh khoảng cách bên trong */
  }

  .right-column a {
    font-size: 12px; /* Giảm kích thước chữ trong cột phải */
  }
}
